<!--the hashbang stuff goes here-->

  <ul class="nav nav-tabs" ng-controller="NavController as nc">
    <li class="nav-item">
      <a class="nav-link" href="#!home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#!upload">Upload</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#!view-2">View 2</a>
    </li>
    <li class="nav-item">
        <button type="button" class="btn btn-default" id="login-button" ng-click="nc.open('sm')">Login</button>
      </li>
    <li class="nav-item">
        <a class=nav-link>{{nc.testText}}</a>
    </li>
  </ul>
