<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="ulc.cancel()">&times;</button>
    <h3 class="modal-title" id="modal-title">Upload a File</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <form>
      <input type="file" id="file-chooser" />
      <button id="upload-button" style="display" ng-click="ulc.upload()">Upload to S3</button>
    </form>
    <div id="results"></div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="ulc.cancel()">Close</button>
  </div>
</div>
